<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>40</integer>
	</dict>
	<key>frames</key>
	<array>
		<string>CloseNormal.png</string>
		<string>CloseSelected.png</string>
	</array>
	<key>delay</key>
	<real>0.5</real>
	<key>loop</key>
	<integer>-1</integer>
</dict>
</plist>
